.footer__box {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 450px) {
  .footer__box {
    flex-direction: column-reverse;
    align-items: center;

    gap: 30px;
  }
} */