.searchForm__input {
  width: 100%;

  border: 1.5px solid rgba(170, 170, 170, 20%);
  border-radius: 8px;
  outline: transparent;
  background-color: transparent;
  position: absolute;

  margin: 0;
  padding: 25px 125px 25px 25px;
  transition: all .2s ease-in-out;
}

.searchForm__input:hover {
  border-color: #3456F3;
}

.searchForm__input:focus {
  background-image: url(../../../images/Search__active.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #3456F3;
}