.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 32.031%;
  height: 100%;

  gap: 123px;

  margin: auto 0 auto 0;
  padding: 20px 0 0 0;
}