.notFoundPage__back-btn {
  cursor: pointer;
  color: #3456F3;
  text-align: center;
  font-size: calc(12px + 2 * (100vw / 1280));
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  width: 73px;
  height: 20px;

  background-color: transparent;

  border: none;

  margin: 0;
  padding: 0;

  transition: all .2s ease-in-out;
}

.notFoundPage__back-btn:hover {
  color: black;
}