.techs__heading {
  text-align: center;
  font-size: calc(30px + 20 * (100vw / 1280));
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;

  margin: 90px 0 0 0;
  padding: 0;
}