.searchForm__submit-btn {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 128.571%;
  color: white;

  width: 100px;
  height: 52px;
  flex-shrink: 0;

  border-radius: 5px;
  border: none;

  background-color: #3456F3;

  background-image: url(../../../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;

  margin: 0 10px 0 0;
  padding: 0;
  transition: all .2s ease-in-out;
}

.searchForm__submit-btn:hover {
  color: transparent;
  font-size: 1px;
  background-size: 19px;
}